*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#inicio{
    height: 40px;
    width: 100%;
    background-color: #A92C7E;
    text-transform: capitalize;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#inicio p{
    float: left;
    font-size: 15px;
}
.redes a{
    float: right;
    color: #000000;
    letter-spacing: 20px;
    font-size: 20px;
}
header{
    height: 120px;
    width: 100%;
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}
.logo img{
    float: left;
    height: 75px;
    width: 87px;
}
.barra ul{
    float: right;
}
.barra ul li{
    list-style: none;
    display: inline-block;
    padding: 16px;
    text-decoration: none;
}
.barra a{
    text-decoration: none;
    color: black;
}
.barra a:hover{
    color: #A92C7E;
    text-decoration: underline;
}