@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Chicle&family=DynaPuff:wght@500&family=Edu+QLD+Beginner&family=Fascinate&family=Fuzzy+Bubbles:wght@700&family=Gantari:wght@100&family=IBM+Plex+Sans:wght@100&family=Inter:wght@100&family=Kdam+Thmor+Pro&family=Kenia&family=Macondo&family=Mukta:wght@700&family=Nerko+One&family=Open+Sans:wght@300&family=Oswald:wght@400;700&family=Poppins:wght@100&family=Raleway:ital,wght@0,100;1,100&family=Rubik+Moonrocks&family=Zen+Dots&display=swap');

/* font-family: 'Alkalami', serif;
font-family: 'Chicle', cursive;
font-family: 'DynaPuff', cursive;
font-family: 'Edu QLD Beginner', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Gantari', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Kenia', cursive;
font-family: 'Macondo', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Nerko One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Zen Dots', cursive; */

/* Variables */
:root{
    --font1: 'Oswald', sans-serif;
    --font2: 'Inter', sans-serif;
    --color1: #A92C7E;
    --color2: #BF73AB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Inicio*/
#inicio{
    height: 40px;
    width: 100%;
    background-color: var(--color1);
    text-transform: capitalize;
    padding: 10px;
    font-family: var(--font1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#inicio p{
    font-size: 15px;
}
.redes a{
    color: #000000;
    letter-spacing: 20px;
    font-size: 20px;
}
/* Header */
header{
    height: 120px;
    width: 100%;
    background-color: white;
    font-family: var(--font1);
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 75px;
    width: 87px;
}
.barra ul li{
    list-style: none;
    display: inline-block;
    padding: 16px;
    text-decoration: none;
}
.barra a{
    text-decoration: none;
    color: black;
}
.barra a:hover{
    color: var(--color1);
}
/* main del index.html */
.mainindex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.mainindex h2{
    color: var(--color1);
    font-family: var(--font1);
    font-size: 100px;
    position: relative;
    text-transform: uppercase;
    padding: 20px;
}
.mainindex h3{
    color: black;
    font-family: var(--font2);
    font-size: 60px;
    text-transform: uppercase;
    margin: 20px;
    padding: 20px;
    border: 5px solid var(--color1);
}
.mainindex p{
    color: #000000;
    position: relative;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #a92c7d60;
}
.mainindex a{
    background-color: var(--color1);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;
    position: relative;
}
/* clase trats del index.html */
.trats{
    height: 100vh;
    width: 100%;
    background-color: #333;
    background-image: url(../img/bendita\ 1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}
/* subclases del trats */
.trat1{
    align-items: flex-start;
}
.trat2{
    align-items: center;
}
.trat3{
    align-items: flex-end;
}
/* clase trat del index.html */
.trat{
    height: 100vh;
    width: 100%;
    background-color: #333;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    position: relative;
}
.facial {
    background-image: url(../img/Facial.jpg);
    background-position:right;
}
.facial:before{
    content: "";
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity: 0.6;
    display: flex;
    order: -1;
}
.corporal{
    background-image: url(../img/Corporal.jpg);
}
.corporal:before{
    content: "";
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity: 0.6;
}
.capilar{
    background-image: url(../img/Capilar.jpg);
}
.capilar::before{
    content: "";
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity: 0.6;
    display: flex;
    order: -1;
}
/* section del index.html */
.sectionindex{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: floralwhite;
}
.sectionindex h2{
    width: 100%;
    font-size: 60px;
}
.sectionindex form{
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.sectionindex form label{
    width: 100%;
}
.sectionindex form input{
    width: auto;
}
/* Footer */
footer{
    display: flex;
    background-color: var(--color1);
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    color: black;
    font-family: var(--font1);
}
footer h3{
    font-size: 30px;
}
footer a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
footer a:hover{
    color: var(--color2);
}
/* .contacto{
    width: 30%;
} */
.contacto iframe{
    height: 250px;
    width: 350px;
}
/* #home{
    width: 30%;
} */
/* #facial{
    width: 15%;
}
#corporal{
    width: 15%;
}
#capilar{
    width: 15%;
} */
.subir{
    height: 40px;
    width: 40px;
    background-color: white;
    color: #000000;
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 0 5px black;
}
/* main de tratamientos.html */
.maintratamientos{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--font1);
}
.maintratamientos h2{
    font-size: 30px;
    text-transform: uppercase;
}
.maintrat{
    padding: 20px;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: right;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--color1);
}
.faciales{
    background-image: url(../img/Facial.jpg);
}
.corporales{
    background-image: url(../img/Corporal.jpg);
}
.capilares{
    background-image: url(../img/Capilar.jpg);
}
.sectiontrat{
    width: 100%;
    height: 300px;
    background-color: var(--color2);
    color: black;
    font-family: var(--font1);
    display: flex;
}
.sectiontrat-img{
    height: 300px;
    width: 50%;
    background-image: url(../img/tratamiento1.jpg);
    background-size: cover;
    background-position: center;
}
.sectiontrat aside{
    width: 50%;
    height: 300px;
    background-color: var(--color1);
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}
.sectiontrat aside h3{
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin-bottom: 10px;
}
.sectiontrat aside p{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
aside a{
    background-color: #fff;
    color: var(--color1);
    padding: 10px 20px;
    width: 30%;
    text-align: center;
    text-decoration: none;
}
